.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000; /* prevents gray flash */
}

.imageWrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.textBox h1 {
  font-size: 70px;
  color: #fff;
  font-weight: 800;
}

.textBox p {
  color: #fff;
  font-size: 20px;
  margin-top: 15px;
}

.topText {
  color: #ffb703;
  font-weight: 600;
  letter-spacing: 2px;
}

.dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  gap: 10px;
}

.dots span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
  transition: 0.3s;
}

.activeDot {
  background: #fff !important;
  width: 28px !important;
  border-radius: 20px !important;
}

@media (max-width: 768px) {
  .textBox h1 {
    font-size: 24px;
  }

  .textBox p {
    font-size: 16px;
  }
  .hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000; /* prevents gray flash */
}

}
@media (max-width: 768px) {
  .textBox h1 {
    font-size: 20px;
  }

  .textBox p {
    font-size: 16px;
  }
  .hero {
  position: relative;
  height: 40vh;
}
}



